// e.g.
//
// "locals": {
//   "metrics": {
//     "cpu": { "0": [ "cpu" ] },
//     "disk": { "sda": [ "disk_merged", "disk_octets" ] }
//   },
//   ...
// }
%h2
  = locals[:host]

%table
  %tbody
    %tr
    // show load and memory above the fold.
    - ['load', 'memory'].each do |plugin|
      - locals[:metrics].delete plugin
      - instance = ''; type = plugin
      %td
        %a{:href => link_to("/graph_edit", :host => locals[:host], :plugin => plugin, :instance => instance, :type => type, :x => 400, :y => 200)}
          = "#{plugin}#{instance.empty? ? '' : '-' + instance}"
          %br
          %img{:src => link_to("/graph", :host => locals[:host], :plugin => plugin, :instance => instance, :type => type, :x => 300, :y => 100)}


// show remaining metrics within collapsed divs.
- locals[:metrics].keys.sort.each do |plugin|
  - graph_num = 0
  %h3
    %br
    %a{:href => 'javascript:;', :onmousedown => "toggleDiv('plugin-#{plugin}');"}
      %img{:src => link_to('/images/expand.png'), :alt => 'toggle'}
    = plugin
  %div{:id => "plugin-#{plugin}", :style => 'display:none'}
    %table
      %tbody
        - locals[:metrics][plugin].keys.sort.each do |instance|
          - locals[:metrics][plugin][instance].each do |type|
            - if graph_num % 3 == 0
              %tr
            %td
              %a{:href => link_to("/graph_edit", :host => locals[:host], :plugin => plugin, :instance => instance, :type => type, :x => 400, :y => 200)}
                = "#{plugin}#{instance.empty? ? '' : '-' + instance}"
                %br
                %img{:src => link_to("/graph", :host => locals[:host], :plugin => plugin, :instance => instance, :type => type, :x => 300, :y => 100)}
            - graph_num += 1

